<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== boxicons=============-->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
    <!--========== css =============-->
    <link rel="stylesheet" href="/style.css">
    <title>home</title>
    
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="" class="nav__logo"> ERMERODRI</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                   
                    <li class="nav__item">
                        <a href="loja.html" class="nav__link">
                            <i class='bx bx-store nav__icon' style="color: black;"></i>
                            <span class="nav__name" style="color: black;">Loja</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="internacional.html" class="nav__link">
                             
                            <i class='bx bx-world nav__icon' style="color: black;"></i>
                            <span class="nav__name" style="color: black;">inter</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="index" class="nav__link active-link">
                            <i class='bx bx-home-heart nav__icon'></i>
                            <span class="nav__name">Home</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="chat.html" class="nav__link">
                            <i class='bx bx-conversation nav__icon' style="color: black;"></i>
                            <span class="nav__name" style="color: black;">Chat</span>
                        </a>
                    </li>

                    <li class="nav__item" >
                        <a href="/profile" class="nav__link">
                            <i class='bx bx-user nav__icon' style="color: black;"></i>
                            <span class="nav__name" style="color: black;">Perfil</span>
                        </a>
                    </li>
                </ul>
           


            
        </nav>
    </header>
    <div id="bemV">
        <p>
            Bem-vindo a nossa loja...
           
        </p>

    </div>

    <div  id="intro">
        <div id="banner">
        <h1>Bem-vindo... </h1>
        <img src="/img/tecnologia.jpeg" alt="">
        <img src="/img/moda.jpeg" alt="">
        <img src="/img/decoração.png" alt="">
        <img src="/img/maquina.jpeg" alt="">
    </div>
    </div>
   

    <main> 
        <section class="container1">
            <section class="produtos">
                <h2>Produtos em Destaque</h2>
                <div class="produto">
                    <img src="../img/zarap.jpg" alt="Arte 1">
                    <h3>Arte 1</h3>
                    <p>Descrição curta do produto.</p>
                    <a href="#loja" class="botao">Ver mais</a>
                </div>
                <div class="produto">
                    <img src="../img/zaraP.jpg" alt="Arte 2">
                    <h3>Arte 2</h3>
                    <p>Descrição curta do produto.</p>
                    <a href="#loja" class="botao">Ver mais</a>
                </div>
                <div class="produto">
                    <img src="../img/zaraP.jpg" alt="Arte 2">
                    <h3>Arte 2</h3>
                    <p>Descrição curta do produto.</p>
                    <a href="#loja" class="botao">Ver mais</a>
                </div>
                <div class="produto">
                    <img src="../img/zarap2.jpg" alt="Arte 2">
                    <h3>Arte 2</h3>
                    <p>Descrição curta do produto.</p>
                    <a href="#loja" class="botao">Ver mais</a>
                </div>
    
                
            </div> 
            </section>
        </section>
        
    </main>
    <aside> Relacionados </aside>
    <footer>rodape </footer>
    <div id="bemV">
        <p>
            Bem-vindo a nossa loja...
           
        </p>

    </div> <div id="bemb">
        <p>
            Bem-vindo a nossa loja...
           
        </p>

    </div>


    <script src="js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
